@import "tailwindcss";

@font-face {
    font-family: 'CustomFont';
    src: url('./assets/font/BuenosAires-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


.font-custom {
    font-family: 'CustomFont', sans-serif;
}
.navtoggle{
    background-color: white;
}
.listtoggle{
    color:black;
}
.demotoggle{
    display: flex;
}
.menu, .cross {
    display: inline-block;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.cross {
    display: none;
}

.crosstoggle {
    display: inline-block;
}

.menutoggle {
    display: none;
}
.sidebartoggle{
    display:flex;
}
.sidebarhidden{
    display:none;
}
